*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  width: 100%;
  background: violet;
  display : flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.container1{
  min-height: 100vh;
  width: 100%;
  background: rgb(153, 130, 238);
  display : flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.dotBox{
  width: 5em;
  height: 2em;
  /* border: 1px solid black; */
  border-radius: 15px 15px 15px 15px;
  background: white;
  overflow: hidden;
  box-shadow: inset -1px 1px 3px #2c2c2cc4;
  display: flex;
  align-items: center;
}
.btn{
  height: 86%;
  width: 2.2em;
  border-radius: 50%;
  transform: translateX(2px);
  transition: 0.5s;
  border: none;
  background: rgb(153, 130, 238);
  box-shadow: 0 0 6px 1px black;
  
}
.btn1{
  height: 86%;
  width: 2.2em;
  border-radius: 50%;
  transform: translateX(3.65em);
  transition: 0.5s;
  border: none;
  background: violet;
  box-shadow: 0 0 6px 1px black;
}